extends base 

block content 
    section.section
        .welcome__user
            h3 Welcome user
            img(src='img/default.png', alt='User Photo')
        .user__info
            .user__info--img
                img(src='img/default.png', alt='User Image')
            .user__info--username
                span Username
                h5 hellouser420
            .user__info--username
                span Name
                h5 Upendra Kumar