doctype html
html(lang='en')
    include partials/head
    body
        main.main
            .heading
                h1 Generate and download QR Code for your site
            .container
                include partials/input
                .resultbox
                    if QRCode 
                        .resultcontent(data-result='true')
                            .resultimg
                                img(src=QRCode, alt='Your QR Code')
                            a.downloadbtn(href=`/download?filePath=${imgSrc}`) Download
                    else 
                        .resultcontent(data-result='false')
                            .resultimg
                                img(src="", alt='Your QR Code')
                            a.downloadbtn(href=`/download`) Download