doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Home page | get my secret
        link(rel="stylesheet", href="/style.css")
        link(rel="shortcut icon", href="./img/favicon.ico", type="image/x-icon")
    body 
        .container
            .upbox 
                img(src="./img/icon.png", alt="Key Icon")
                .upbox-text 
                    h5 Here is my secret 
                    p I know you want to know my secret if so, just register or login to get know my secret.
            .downbox 
                a.btn(href="/register") Register      
                a.btn(href="/login") Login      
