doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Home page | get my secret
        link(rel="stylesheet", href="/style.css")
        link(rel="shortcut icon", href="./img/favicon.ico", type="image/x-icon")
    body
        .container 
            .upbox(aria-level="upbox") 
                img(aria-details="secret", src="./img/icon.png", alt="Key Icon")
                .upbox-text 
                    h5 What the fuck man?
                    p This shows me how free you are? Just to know my secret you come here by giving your details. Ashamed man?
            .downbox 
                a.btn(aria-live="polite", href="/") Logout 
                a.btn(aria-live="polite", href="/yoursecret") Submit Yours 
