doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title #{title}
  link(rel='stylesheet' href='CSS/newStyle.css')
  link(rel='shortcut icon' href='img/fevicon.png' type='image/x-icon')
  script(src='https://kit.fontawesome.com/fde8e88d64.js' crossorigin='anonymous')
  
header.navbar
  .logo
    a.logo-text(href='/')
      | YT 
      img(src='img/fevicon.png' alt='Download Logo')
  button.toggle(aria-expanded='false')
  ul.navigation(data-visible='false')
    li.list-items
      a.links(href='/') Home
    li.list-items
      a.links(href='/service') Service
    li.list-items
      a.links(href='/contact') Contact
    li.list-items
      a.links(href='/about') About