.generatorbox
    form.form(method='get', action="/generate")
        input.input(type='text', placeholder="Enter your site's url", required='', autocomplete='off', autofocus='on', name="url")
        button.btn(type='submit') Generate